.backgroundblok1{
    width: 2000px;
    height: 800px;
    position: absolute;
    bottom: 300px;
    left: -80px;
    transform: rotate(200deg);
    background-color: #1c447c;
}

.backgroundblok2{
    width: 2000px;
    height: 70px;
    position: absolute;
    bottom: 260px;
    left: -80px;
    transform: rotate(200deg);
    background-color: #3b7bbb;
}

.paypaloozatitel{
    width: 500px;
    height: 280px;
    position: absolute;
    bottom: 550px;
    left: 300px;
    transform: rotate(380deg);
    background-color: rgba(187, 59, 59, 0);
}

.welkomtekst{
    font-size: xx-large;

}

.icon{
   
    position: fixed;
    top:10px;
    right: 50px;
    background-color: #03080400;
    
}

button {
    background-color: transparent;
    border-radius: 100%;
    border: none;
    margin: 7px 0;
  }

button:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
  .button1 {
    background-color: #1c447c;
    border: 8px solid #3b7bbb;
    color: white;
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    position: absolute;
    bottom: 250px;
    left: 70px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
} 

  .button1 {
    transition-duration: 0.8s;
  }
  
  .button1:hover {
    background-color: #3b7bbb; /* Green */
    color: white;
    border: 8px solid #1c447c;
  }

  .button2 {
    background-color: #1c447c;
    border: 8px solid #3b7bbb;
    color: white;
    padding: 15px 50px; 
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    position: absolute;
    bottom: 150px;
    left: 70px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
  } 

  .button2 {
    transition-duration: 0.8s;
  }
  
  .button2:hover {
    background-color: #3b7bbb; /* Green */
    color: white;
    border: 8px solid #1c447c;
  }